{% extends "lpe/master.twig" %}
{# ----------------------------------------------------------- #}
{% block opengraph %}
        <meta property="og:url"                content="{{ baseUrl() }}" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="{{album.nombre}} - Ley de Educación de Santa Fe" />
        <meta property="og:description"        content="{{album.descripcion}}" />
        <meta property="og:image"              content="{{ baseUrl() }}/img/galeria/{{album.id}}/{{album.fotos[0].id}}.jpg" />
        <meta name="description" content="{{album.descripcion}}" />
        {% endblock %}
{% block linkhead %}
<link href="{{ baseUrl() }}/assets-lpe/css/lightbox.min.css" rel="stylesheet">
{% endblock %}
{% block titulo %}{{album.nombre}}{% endblock %}
{% block body %}
<div class="container-fluid inicio-banner">
    <div class="overlay-banner">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <h1 style="text-transform: uppercase"><strong>{{album.nombre}}</strong></h1>
            </div>
        </div>
    </div>
</div>
<div class="container" style=" ">
   <div class="row">
       <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center well well-sm">
           <h6>{{album.descripcion}}</h6>
       </div>
   </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
           {% if user and (user.patrulla_id != null) %}
            <form action="{{urlFor('runSubirFoto')}}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <fieldset>
                    <legend><i class="zmdi zmdi-plus zmdi-hc-lg"></i> <i class="zmdi zmdi-image zmdi-hc-lg"></i> Nueva foto</legend>
                    <div class="form-group">
                        <label for="inputFile" class="col-lg-2 control-label">Foto</label>
                        <div class="col-lg-10">
                            <input type="file" name="foto" class="form-control" id="inputFile" placeholder="Suba una imagen">
                            <input type="hidden" name="album" value="{{album.id}}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescripcion" class="col-lg-2 control-label">Descripción</label>
                        <div class="col-lg-10">
                            <input type="text" name="descripcion" class="form-control" id="inputDescripcion" placeholder="Descripción o pie de foto de la imagen (Opcional)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn-success btn">Subir</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            {% endif %}
            <div class="album">
                <div class="fotofull-sizer"></div>
                {% for foto in album.fotos %}
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':foto.id})}}" method="POST">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/{{album.id}}/thumbnail/{{foto.id}}.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/{{album.id}}/{{foto.id}}.jpg" class="img-responsive" alt=""></div></a>
                </div>
                {% endfor %}
<!--
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/01.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/02.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/03.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/04.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/05.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/06.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/07.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/08.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/09.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/10.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/11.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/12.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/13.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/14.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/15.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/16.jpg" class="img-responsive" alt=""></div></a>
                </div>
                <div class="fotofull-item {{ random(4) == 2 ? 'w2' }}">
                    {% if user and (user.patrulla_id != null) %}<form action="{{urlFor('runElimiFoto',{'idFot':1})}}" method="GET">
                        <button type="submit" class="btn-danger btn boton-eliminar-foto"><i class="fa fa-trash fa-lg"></i></button>
                    </form>{% endif %}
                    <a href="{{baseUrl()}}/img/galeria/02/08.jpg" data-lightbox="album" data-title="My caption"><div class=""><div class="overlay"></div><img src="{{baseUrl()}}/img/galeria/02/17.jpg" class="img-responsive" alt=""></div></a>
                </div>
-->

            </div>
        </div>
    </div>
</div>
{% endblock body %}
{# -------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/lightbox-plus-jquery.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/masonry.pkgd.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/imagesloaded.pkgd.min.js"></script>
<script>
    var $grid = $('.album').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.fotofull-item',
        // use element for option
        columnWidth: '.fotofull-sizer',
        percentPosition: true
    });
    $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
    });
    lightbox.option({
        'resizeDuration': 500,
        'wrapAround': true,
        'albumLabel': "Imagen %1 de %2"
    })
</script>
{% endblock scripts %}
