{% if derecho.imagen == 1 %}
{% set linkImagen = baseUrl() ~ '/img/derecho/' ~ derecho.id ~ '.jpg' %}
{% endif %}

{% extends "lpe/master.twig" %} 

{% set share_link = 'https://www.santafe.gob.ar/leyeducacion/public/index.php/derecho/' ~ derecho.id %}
{% set twitter_txt = 'Estoy debatiendo sobre la Nueva Ley de Educación de Santa Fe. Participá vos también.' %}

{% block opengraph %}
<meta property="og:url"                content="{{ share_link }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ derecho.titulo }} - Ley de Educación de Santa Fe" />
<meta property="og:description"        content="Enterate más acerca de este derecho. Santa Fe Construye Educación y Futuro. Diálogos para la ley provincial de educación. Un espacio de debate amplio, profundo y diverso, en clave de derecho, sobre la educación que la sociedad santafesina necesita." />
<meta property="og:image"              content="{{ baseUrl() }}/assets-lpe/img/sharer-derecho.jpg"/>
{% endblock %}
{% block linkhead %} {% endblock %} {# ----------------------------------------------------------- #} {% block titulo %}{{ derecho.titulo }}{% endblock %}
{% block body %}
<article>
    {% set colorSeleccionado = random(3) %}
    {% if derecho.imagen == 1 %}
    <img src="{{linkImagen}}" class="img-responsive" style="width:100%;margin-bottom: 30px;" alt="">
    {% else %}
    <div class="titulo-derecho-background bgcolor{{colorSeleccionado}}" style="{# derecho.imagen == 1 ? 'background-image: url(' ~ linkImagen ~ ')':''#}">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1><strong>{{ derecho.titulo }}</strong></h1> {% if user and (user.patrulla_id != null) %}
                        {#<h6><a href="{{ urlFor('shwModifDerecho', {'idDer': derecho.id}) }}" class="btn btn-default"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>Editar derecho</a></h6>#} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-12 col-md-8">
                <div id="descripcion">
                    <p>{{ derecho.descripcion|bbCode }}</p>
                </div>
                {% for seccion in derecho.secciones %}
                <div class="accion clearfix">
                    <div class="pull-left" style="margin-right:20px">
                        {% set ptj = (seccion.votos_alta * 3) + (seccion.votos_media * 2) + (seccion.votos_baja * 1) %}
                        <div class="btn-group-vertical btn-group-sm">
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',3)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 3)) ? 'btn-primary disabled' : 'btn-default'}}">
                                Muy importante

                                &nbsp;<span class="badge" style="padding-top: 3px; padding-bottom: 1px;">{{seccion.votos_alta}}</span>

                            </a>
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',2)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 2)) ? 'btn-primary disabled' : 'btn-default'}}">
                                Importante

                                &nbsp;<span class="badge" style="padding-top: 3px; padding-bottom: 1px;">{{seccion.votos_media}}</span>

                            </a>
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',1)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 1)) ? 'btn-primary disabled' : 'btn-default'}}">
                                Poco importante

                                &nbsp;<span class="badge" style="padding-top: 3px; padding-bottom: 1px;">{{seccion.votos_baja}}</span>

                            </a>
                            {% set comentariosSeccion = seccion.comentarios|length %}
                            {% for comentario in seccion.comentarios %}
                            {% set comentariosSeccion = comentariosSeccion + comentario.respuestas|length %}
                            {% endfor %}
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#comentarios{{ seccion.id }}" class="btn btn-info">Participá <i class="zmdi zmdi-comments zmdi-hc-lg zmdi-hc-fw"></i> {{ comentariosSeccion }}</a>
                        </div>
                    </div>
                    <p class="lead"><span class="badge" data-toggle="tooltip" data-placement="right" title="Relevancia. Se calcula dandole ponderación a cada voto, siendo: {{seccion.votos_alta}} * 3 + {{seccion.votos_media}} * 2 + {{seccion.votos_baja}} * 1 = {{ptj}} "><i class="zmdi zmdi-star zmdi-hc-fw zmdi-hc-lg"></i>{{ptj}}&nbsp;</span>&nbsp;&nbsp;{{seccion.descripcion|nl2br}}</p>
                    {% include 'lpe/contenido/derecho/comentarioModal.twig' %}
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% if derecho.video is not null %}
                <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{derecho.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %} 
                <div class="btn-group btn-group-justified" style="margin-bottom:25px;">
                    <a href="https://www.facebook.com/sharer.php?u={{ share_link }}" target="_blank" class="btn btn-default" style="background-color:#3b5998; color:#FFF"><i class="zmdi zmdi-facebook zmdi-hc-2x"></i></a>
                    <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}&hashtags=DiálogosSantaFe" target="_blank" class="btn btn-default" style="background-color:#55acee; color:#FFF"><i class="zmdi zmdi-twitter zmdi-hc-2x"></i></a>
                    <a href="https://plus.google.com/share?url={{ share_link }}" target="_blank" class="btn btn-default" style="background-color:#dd4b39; color:#FFF"><i class="zmdi zmdi-google-plus zmdi-hc-2x"></i></a>
                </div>
                {% for opinion in derecho.opiniones %}
                <div class="panel">
                    <div class="panel-body tag-opinion bgcolor{{colorSeleccionado}}">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#opinion{{loop.index}}">
                            <div class="overlay">
                                <h5><small>La opinión de..</small><br><b>{{opinion.participante.nombre}}</b></h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% include 'lpe/contenido/opinion/ver.twig' %} {% endfor %} {% if user and (user.patrulla_id != null) %}
                <a href="{{ urlFor('shwCrearOpinion')}}" class="btn btn-primary btn-block"><i class="zmdi zmdi-plus zmdi-hc-lg zmdi-hc-fw"></i>Nueva Opinion</a>
                <br>
                <a href="{{ urlFor('shwModifDerecho', {'idDer': derecho.id}) }}" class="btn btn-default btn-block"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>Editar derecho</a> {% endif %}

            </div>
        </div>
    </div>
</article>
{% if user and (user.patrulla_id != null) %}
{% include 'lpe/contenido/moderar.twig' %}
{% endif %}
<form id="eliminarComentario" action="{{ urlFor('runElimiComenta') }}" method="POST">
    <input type="hidden" type="text" name="id">
    <input type="hidden" type="text" name="seccion">
</form>
<form id="votarSeccion" method="POST">
    <input type="hidden" type="text" name="postura">
</form>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
    <input type="text" name="seccion" style="display:none">
</form>
{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script>
    var idSeccion = getUrlVars()["seccion"];
    $(document).ready(function() {
        autosize($('textarea'));
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        })

        if( idSeccion != undefined ){
            $('#comentarios' + idSeccion).modal('show');
        }
    })

    $('#comentarios' + idSeccion).on('shown.bs.modal', function () {
        $('#comentarios' + idSeccion).scrollTop(0);
        // get the top of the section
        var sectionOffset = $('[data-comentarioid=' + getUrlVars()["comentario"] + ']').offset();
        console.log(sectionOffset);
        //scroll the container
        $('#comentarios' + idSeccion).animate({
            scrollTop: sectionOffset.top - 30
        }, "slow");
    })

    var votarSeccion = function(id, valor) {
        var action_no = "{{ urlFor('runVotarSeccion') }}";
        $('#votarSeccion').find('input[name="postura"]').val(valor)
        var action_yes = action_no.replace(':idSec', id);
        $('#votarSeccion').attr('action', action_yes);
        $('#votarSeccion').submit();
    }

    var verBoxResponder = function(id) {
        $('#respComentario-' + id).toggle();
    }

    var votarComentario = function(seccionID, id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').find('input[name="seccion"]').val(seccionID)
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }

    var eliminarComentario = function(seccion, id) {
        $('#eliminarComentario').find('input[name="id"]').val(id)
        $('#eliminarComentario').find('input[name="seccion"]').val(seccion)
        $('#eliminarComentario').submit();
    }

    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>
{% include 'lpe/contenido/moderar.js.twig' %} {% endblock %}
