{% extends "lpe/master.twig" %}
{% block linkhead %}
    <link href="{{ baseUrl() }}/assets-lpe/css/sceditor/sceditor-main.css" rel="stylesheet">
{% endblock %}
{# ----------------------------------------------------------- #}
{% block titulo %}Listar acciones - Derecho{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary" href="{{ urlFor('shwCrearAccion', {'idDer': derecho.id}) }}">
                            <i class="zmdi zmdi-plus  zmdi-hc-fw"></i>Nueva acción
                        </a>
                    </div>
                    <h2>
                    <a href="{{ urlFor('shwDerecho', {'idDer': derecho.id}) }}"><i class="zmdi zmdi-caret-left-circle"></i></a> <strong>Acciones y testimonios</strong>
                    </h2>
                    <h6>Derecho: {{derecho.titulo}}</h6>
                    
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Accion</th>
                                <th class="text-right" width="120px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accion in derecho.resultados %}
                            <tr>
                                <td>
                                    <div class="testimonio-container-read">    
                                        {{ accion.descripcion|bbCode }}
                                    </div>
                                    <i class="zmdi zmdi-quote zmdi-hc-lg"></i>
                                    {{ accion.testimonios|length }} testimonios
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-primary btn-sm" href="{{ urlFor('shwModifAccion', {'idAcc': accion.id}) }}">
                                        <i class="zmdi zmdi-edit zmdi-hc-fw zmdi-hc-lg"></i>
                                    </a>
                                    <a href="javascript:eliminar({{accion.id}})" type="submit" class="btn btn-danger btn-sm">
                                        <i class="zmdi zmdi-delete zmdi-hc-fw zmdi-hc-lg"></i>
                                    </a>
                                                <form id="eliminar-{{accion.id}}" action="{{ urlFor('runElimiAccion', {'idAcc': accion.id}) }}" method="POST">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script>
    function eliminar(id){
        $("#eliminar-"+id).submit();
    }
</script>
{% endblock %}